.primary_btn{
    padding: 18px;
    background-color: black;
    color: white;
    min-width: 200px;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 5px;
    justify-content: center;
    cursor: pointer;
}
.outline_btn{
    padding: 18px 10px;
    border: 1px solid black;
    color: black;
    min-width: 200px;

    background-color: white;
    display: flex;
    align-items: center;   /* vertical centering */
    justify-content: center; /* horizontal centering */
    gap: 8px;
    cursor: pointer;
    width: 100%;
}

